<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
   <img src="https://i.kinja-img.com/gawker-media/image/upload/c_scale,f_auto,fl_progressive,q_80,w_800/vkqfm8ohv7khkltdhla4.png" width="400" style="margin:25px">
  <div class="card-deck" style="margin:15px; padding: 6px;">
	{% for object in context1 %}
	<div class="card" style="width:150px;height:387px;border:5px black solid;">
  <img class="card-img-top" src = "{{ object.image }}">
  <div class="card-body">
    <h5 class="card-title">
        <div class="card-body">
      <a href="{{object.url}}"><h5 class="card-title">{{object.title}}</h5></a>
    </div>
    </h5>
	</div>
  </div>
  {% endfor %}
  </div>
    <p style="margin:20px"><u><b style=" font-size:20px">Sports News in Brief</b></u></p>
        {% for object in context2 %}
    <div class="card-body">
      <a href="{{object.url}}"><p class="card-title" style="font-size:18px;font-weight:600">{{object.title}}</p></a>
    </div>
    {% endfor %}
    <a href="{% url 'test_app:Add'%}"><button class="btn btn-success" style="margin:29px">Back to Home</button></a>

</div>

<script
	src="http://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>